
#profile .header {
  background: url("../assets/dgb_images/background.jpg") no-repeat 0 45% ;
  background-size: 100% auto;
}
#profile .about-tab .about-sidebar .groups .content .group .logo {
    width: 64px;
}