<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
      <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Leave Us A Message</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="assets/dgb_images/ic_clear_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
          </div>
      </md-toolbar>
      <md-dialog-content>
          <div class="md-dialog-content">
              <md-input-container class="md-block">
                  <label>Sender Email</label>
                  <input required type="email" name="clientEmail" ng-model="project.clientEmail"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                  <div ng-messages="projectForm.clientEmail.$error" role="alert">
                      <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                      </div>
                  </div>
              </md-input-container>
              <md-input-container class="md-block">
                  <label>Client Name</label>
                  <input required name="clientName" ng-model="project.clientName">
                  <div ng-messages="projectForm.clientName.$error">
                      <div ng-message="required">This is required.</div>
                  </div>
              </md-input-container>
          </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
          <md-button ng-click="vm.cancel()">
              Cancel
          </md-button>
          <span flex></span>
          <md-button ng-click="vm.send()">
              Send    
          </md-button>
      </md-dialog-actions>
  </form>
</md-dialog>