<md-dialog id="send-massage-modal" aria-label="Leave Us A Message"  ng-cloak>
  <form>
      <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Leave Us A Message</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="assets/dgb_images/ic_clear_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
          </div>
      </md-toolbar>
      <md-dialog-content>
          <div class="md-dialog-content">
              <md-input-container class="md-block">
                  <label>Sender Email</label>
                  <input required type="email" name="clientEmail" ng-model="message.senderEmail" ng-pattern="/^.+@.+\..+$/" />
              </md-input-container>
              <md-input-container class="md-block">
                  <label>Message Content</label>
                  <textarea required ng-model="message.content" rows="5" md-select-on-focus></textarea>
              </md-input-container>
          </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
          <md-button ng-click="vm.cancel()">
              Cancel
          </md-button>
          <span flex></span>
          <md-button ng-click="vm.send()">
              Send    
          </md-button>
      </md-dialog-actions>
  </form>
</md-dialog>